header {
    display: flex;
    justify-content: space-between;
}
header h1 {
    position:absolute;
    left:-2000px;
}
#logo {
    height: 50px;
    width: 50px;
}
header nav ul {
    display:flex;
    text-align: center;
}
header nav ul li {
    padding: 20px 10px;
    width: 88px;
}
