body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    margin: 20px;
    border: 2px solid gray;
}


#logo {
    background-color: white;
    border-radius: 50px;
    margin: 20px;
    height: 50px;
    width: 50px;
}
a {
    text-decoration-line: none;
    color: white;
}

header {
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 0px; /* 도달했을때 고정시킬 위치 */
    color: white;
    background-color: rgb(0, 45, 86);
}
header nav ul {
    display:flex;
    text-align: center;
}
header nav ul li {
    list-style-type: none;
    padding: 20px 10px;
    width: 88px;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px;

}
.icon1{
    width:200px;
    height: 200px;
    text-align: center;
    margin: 10px;
    background-color: transparent;
    border-color: gray;
    border-radius: 25%;
    box-shadow: 5px 5px 5px gray;
}
.icon2{
    width:200px;
    height: 200px;
    text-align: center;
    margin: 10px;
    background-color: transparent;
    border-radius: 25%;
    border-color: gray;
    box-shadow: 5px 5px 5px gray;
}

.icon3{
    width:200px;
    height: 200px;
    text-align: center;
    margin: 10px;
    background-color: transparent;
    border-color: gray;
    border-radius: 25%;
    box-shadow: 5px 5px 5px gray;
}
